<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.BI183.hardiyanto">
	<application
		android:allowBackup="true"
		android:label="UAS 180030929 1"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:name=".SketchApplication"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".BukuActivity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Buku_1Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Buku_2Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Buku_3Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Buku_4Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Buku_5Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Buku_6Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".Catalog_1Activity"
			android:configChanges="orientation|screenSize"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<activity
			android:name=".DebugActivity"
			android:screenOrientation="portrait"/>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
